@model Dari.Domain.Entities.Annonce
@using Dari.Web.Controllers




@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chambres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chambres)
        </dd>
        <dt>
            Rated : 
        </dt>

        <dd>
            @Html.Action("moyenne", "Annoce" , new { AnnonceID = Model.AnnonceId })
        </dd>
        <dt>
            Rating 
        </dt>

        <dd>
           @{ using (Html.BeginForm("Create" , "Rate"))
               {
                   @Html.HiddenFor(x=>x.AnnonceId)                 
                   for (int i=0; i <10; i++)
                   {
                       <input type="radio" id="Rate" name="Rate" value="@i" /> @i
                   }
                   <input type="submit" value="submit" />
               }

                }
        </dd>
      

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
