@model IEnumerable<Dari.Domain.Entities.Annonce>
@using Dari.Web.Controllers

@{
    ViewBag.Title = "Nos Annonce";
   
}

<h2>Index</h2>
@using (Html.BeginForm())
{
<form asp-controller="Annonce" asp-action="Index" method="get">
        <div class="bt-item">
                                            <input type="radio" name="type" value="C" id="st-all" checked>
                                            <label for="st-all">All</label>
                                        </div>
                                        <div class="bt-item">
                                            <input type="radio" name="type" value="A" id="st-buy">
                                            <label for="st-buy">Buy</label>
                                        </div>
                                        <div class="bt-item">
                                            <input type="radio" name="type" value="B" id="st-rent">
                                            <label for="st-rent">Rent</label> </div>
          <div class="bt-item">
              Addresse: <input type="text" name="filtre" />   
          </div>
                                            <div class="bt-item">
                                                min price : <input type="text" name="min" />
                                                max price : <input type="text" name="max" />
                                                </div>
                                                <input type="submit" value="Filter" />

</form>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chambres)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TypeAn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ string path = "~/Content/upload/" + @item.images; }
            <img src="@Url.Content(path)" width="30" height="30 " />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surface)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chambres)
        </td>
      
        
        <td>
            @Html.DisplayFor(modelItem => item.TypeAn)
        </td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id=item.AnnonceId }) |
            @Html.ActionLink("Prendre RDVs", "Create","RDVs", new { id = item.AnnonceId },null)

            
            
        </td>
    </tr>
}

</table>
