@model IEnumerable<Dari.Domain.Entities.Annonce>

@{
    ViewBag.Title = "Vos annonces";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chambres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAn)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ string path = "~/Content/upload/" + @item.images; }
            <img src="@Url.Content(path)" width="50" height="50 " />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surface)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chambres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnnonceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnnonceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnnonceId })
        </td>
    </tr>
}

</table>
