<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azenta | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/Front/css/style.css" type="text/css">
    @RenderSection("stylesheets", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="@Url.Action("Index", "Annoce")">Annonce</a></li>
                <li><a href="@Url.Action("Index", "Meuble")">Meuble</a></li>
                <li><a href=@Url.Action("Index", "RDVs")>Mes Rendez Vous</a></li>
                <li><a href=@Url.Action("Calender", "RDVs")>Calendrier</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="nav-logo-right">
            <ul>
                <li>
                    <i class="icon_phone"></i>
                    <div class="info-text">
                        <span>Phone:</span>
                        <p>(+12) 345 6789</p>
                    </div>
                </li>
                <li>
                    <i class="icon_map"></i>
                    <div class="info-text">
                        <span>Address:</span>
                        <p>16 Creek Ave, <span>NY</span></p>
                    </div>
                </li>
                <li>
                    <i class="icon_mail"></i>
                    <div class="info-text">
                        <span>Email:</span>
                        <p>Info.cololib@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <nav class="main-menu">
                            <ul>
                                <li><a href=@Url.Action("Index","Home")>Home</a></li>
                                
                                <li><a href="@Url.Action("Index", "Annoce")" class="property-sub">Annonces</a></li>

                                <li><a href="@Url.Action("Index", "Meuble")" class="property-sub">Meubles</a></li>
                             

                                <li><a href=@Url.Action("Calender", "RDVs")>Calendrier</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-5">
                        <div class="top-right">
                            
                            <li> <a href="@Url.Action("Indexx", "Annoce")" class="property-sub">Mes Annonces</a></li>
                            <div class="language-option">
                                <span> Creer une Annonce</span>
                                <i class="fa fa-angle-down"></i>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li class="dropdown">
                                            <a href="@Url.Action("Create", "Annoce")" class="property-sub">Immoboliere</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Meuble")" class="property-sub">Meuble</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Index", "RDVs")" class="property-sub">Mes rendez-vous</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           
                           
                          
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="language-option">
                                    <span>User</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li class="dropdown">
                                                <a href=@Url.Action("Login", "Account") class="property-sub">Login</a>

                                            </li>

                                            <li>
                                                <a href=@Url.Action("Register","Account") class="property-sub"> Register</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="language-option">
                                    <span>@User.Identity.Name</span>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="flag-dropdown">
                                        <ul>
                                            <li class="dropdown">
                                                @User.Identity.Name

                                            </li>

                                            <li>
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                                {   @Html.AntiForgeryToken()
                                                    //Logout
                                                    <input type="submit" value="Log out" />
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="./index.html"><img src="Content/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-logo-right">
                            <ul>
                                <li>
                                    <i class="icon_phone"></i>
                                    <div class="info-text">
                                        <span>Phone:</span>
                                        <p>(+12) 345 6789</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon_map"></i>
                                    <div class="info-text">
                                        <span>Address:</span>
                                        <p>16 Creek Ave, <span>NY</span></p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon_mail"></i>
                                    <div class="info-text">
                                        <span>Email:</span>
                                        <p>Info.cololib@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @Html.Partial("FlashMessage")
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="~/Content/Front/img/footer-bg.jpg">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="~/Content/Front/img/footer-logo.png" alt=""></a>
                            </div>
                            <p>Subscribe our newsletter gor get notification about new updates.</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Property City</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p><p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p></p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Content/Front/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Front/js/bootstrap.min.js"></script>
    <script src="~/Content/Front/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Front/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Front/js/jquery.slicknav.js"></script>
    <script src="~/Content/Front/js/jquery-ui.min.js"></script>
    <script src="~/Content/Front/js/owl.carousel.min.js"></script>
    <script src="~/Content/Front/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>