@model Dari.Domain.Entities.RDV

@{
    ViewBag.Title = "Create";
  
}


                                @using (Html.BeginForm("Create", "RDVs", new { annonceID = @ViewBag.annonceID }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "agent-contact-form", @placeholder = "Date" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>RDV</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label>Date Rendez Vous</label>
                                            @Html.TextBoxFor(model => model.date, new { @class = "form-control", type = "datetime-local", placeholder = "Enter Date here..." })
                                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" class="site-btn">Demande Rendez Vous</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>





}